/*Variables*/
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-fourth: #404040;

$font-primary: 2.1em;
$font-secondary: 1.8em;
$font-tertiary: 1.2em;
$font-fourth: 1.1em;

$padding-small: 10px;
$padding-medium: 30px;

/*Maps*/
$line-height: (
  small: 25px,
  medium: 33px,
);

$bd-radius: (
  small: 20px,
  medium: 25px,
  large: 35px,
  xlarge: 50px,
);

/*Mixins*/
@mixin font-p {
  font-size: 1em;
  font-weight: 100;
  margin: 0;
}

@mixin icon {
  color: lighten($color-fourth, 20);
  padding-right: $padding-small + 10px;
}

@mixin btn {
  border-radius: map-get($bd-radius, large);
  border-style: none;
  font-size: $font-fourth;
  font-weight: bold;
  color: lighten($color-fourth, 100);
  padding: $padding-small + 10px;
  margin-top: 30px;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  opacity: 1;
}

@mixin box-shw($color: $color-fourth) {
  box-shadow: 0 3px 10px lighten($color, 50);
}

/*keyframes*/
@keyframes bars {
  0% {
    transform: scaleY(0.3);
  }

  100% {
    transform: scaleY(1);
  }
}

$anim-dur: 1000ms;
$anim-delay: $anim-dur / 5;

@keyframes load-trans {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes menu {
  from {
    opacity: 0;
    transform: translateY(30px);
    transition: transform 1000ms ease-in-out;
  }

  to {
    opacity: 1;
  }
}

$menu-delay: $anim-dur / 3;

@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes check-box {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/*Media queries*/
$breakpoints: (
  landscape: 576px,
  tablets: 768px,
  desktop-large: 992px,
  desktop-xl: 1200px,
  desktop-xxl: 1400px,
);

@mixin landscape {
  @media screen and (min-width: map-get($breakpoints, landscape)) {
    @content;
  }
}

@mixin tablets {
  @media screen and (min-width: map-get($breakpoints, tablets)) {
    @content;
  }
}

@mixin desktop-large {
  @media screen and (min-width: map-get($breakpoints, desktop-large)) {
    @content;
  }
}

@mixin desktop-xl {
  @media screen and (min-width: map-get($breakpoints, desktop-xl)) {
    @content;
  }
}

@mixin desktop-xxl {
  @media screen and (min-width: map-get($breakpoints, desktop-xxl)) {
    @content;
  }
}

/*Mobile first*/

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: $font-secondary;
}

h4 {
  font-size: $font-fourth;
  margin: 0;
}

h5 {
  font-size: $font-tertiary;
  margin: 0;
}

p {
  @include font-p;
}

/*Load*/

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  animation: load-trans $anim-delay both 3000ms ease-in-out;

  &__load {
    display: flex;
    justify-content: space-evenly;
    height: 150px;
    width: 200px;

    &__bar {
      background-color: $color-tertiary;
      height: 100%;
      width: 20px;
      animation: bars $anim-dur backwards infinite ease-in-out alternate;
      @for $i from 1 through 5 {
        &--#{$i} {
          animation-delay: $anim-delay * $i;
        }
      }
    }
  }
}

/*Header*/

header {
  text-align: center;

  img {
    margin: 20px 0;

    @include landscape {
      width: 30%;
    }

    @include desktop-large {
      width: 30%;
    }
  }

  @include desktop-xxl {
    max-width: 1400px;
    margin: auto;
  }
}

main {
  @include desktop-xxl {
    max-width: 1400px;
    margin: auto;
  }
}

/*Section Location*/

.location {
  text-align: center;
  padding-bottom: $padding-medium + 20px;
  background-color: lighten($color-fourth, 70);

  form {
    background-color: lighten($color-fourth, 67);
    padding: $padding-small + 5px 0 $padding-small + 5px $padding-medium + 40px;
    box-shadow: inset 0 8px 6px -6px lighten($color-fourth, 50);

    label {
      padding-right: $padding-small;
      color: $color-fourth;
    }

    > input {
      border-style: none;
      background: none;
      font-weight: bold;
      font-size: $font-fourth;
      color: $color-fourth;
    }
  }

  &__booking {
    width: 100%;
    margin: auto;

    h2 {
      padding: 0 $padding-small + 5px;
    }

    h5 {
      font-weight: 100;
    }

    button {
      @include btn;
      @include box-shw;
      transition: all 500ms ease-in-out;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
        @include box-shw(darken($color-fourth, 50));
      }
    }
  }
}

/*Section How to*/

.how-to {
  h2 {
    padding-left: $padding-small + 10px;
  }

  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop-large {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__button {
    border-radius: map-get($bd-radius, medium);
    width: 300px;
    height: 80px;
    margin-bottom: 25px;
    text-align: center;
    font-size: $font-fourth;
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: $padding-medium + 5px;
    @include box-shw;
    @include desktop-large {
      width: 250px;
    }

    @include desktop-xl {
      width: 300px;
    }

    .fa-mobile-alt,
    .fa-list-ul,
    .fa-store {
      @include icon;
    }

    &__choice {
      position: absolute;
      border-radius: map-get($bd-radius, xlarge);
      height: 25px;
      width: 25px;
      background-color: $color-primary;
      text-align: center;
      left: -12px;
      color: lighten($color-fourth, 100);
      font-weight: normal;
      line-height: map-get($line-height, small);
    }

    &:hover {
      background-color: lighten($color-primary, 35);
      cursor: pointer;
    }
  }
}

.color-button:hover .color-icon {
  color: $color-primary;
}

/* Section Restaurants*/

.restaurants {
  background-color: lighten($color-fourth, 70);
  padding-bottom: $padding-small + $padding-medium;

  h2 {
    padding: $padding-small + $padding-medium 0 0 $padding-small + 10px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablets {
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-left: 20px;
  }

  a {
    text-decoration: none;
    color: currentColor;
  }
}

.rest-prev {
  display: flex;
  flex-direction: column;
  background-color: lighten($color-fourth, 100);
  width: 330px;
  height: 290px;
  border-radius: map-get($bd-radius, small);
  position: relative;
  margin-bottom: 20px;
  @include box-shw;

  @include landscape {
    width: 500px;
  }

  @include tablets {
    width: 330px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  @include desktop-large {
    width: 400px;
  }

  @include desktop-xl {
    width: 500px;
  }

  > figure {
    height: 200px;
    width: 100%;
    margin: 0;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 20px 20px 0 0;
    }
  }

  &__byline {
    display: flex;
    justify-content: space-between;
    padding: $padding-small + 10px;

    h5 {
      padding-bottom: 5px;
    }
  }

  span {
    position: absolute;
    left: 225px;
    top: 15px;
    background-color: $color-tertiary;
    width: 90px;
    height: 35px;
    text-align: center;
    line-height: map-get($line-height, medium);
    border-radius: 2px;
    color: darken($color-tertiary, 40);
    font-weight: bold;
    @include landscape {
      left: 395px;
    }

    @include tablets {
      left: 225px;
    }

    @include desktop-large {
      left: 295px;
    }

    @include desktop-xl {
      left: 390px;
    }
  }
}

.card-restaurant {
  position: relative;

  > .rest-heart {
    .fa-heart {
      position: absolute;
      left: 270px;
      top: 225px;
      font-size: $font-secondary;
      @include landscape {
        left: 440px;
      }

      @include tablets {
        left: 270px;
      }

      @include desktop-large {
        left: 340px;
      }

      @include desktop-xl {
        left: 440px;
      }
    }

    .fas {
      opacity: 0;

      &:hover {
        animation: heart 1000ms forwards ease-in-out;
        display: block;
        background: -webkit-linear-gradient($color-primary, $color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

footer {
  background-color: $color-fourth;
  color: lighten($color-fourth, 100);
  padding: $padding-medium 0 $padding-medium $padding-medium;

  @include landscape {
    display: flex;
    justify-content: space-evenly;
  }

  @include desktop-large {
    display: flex;
    justify-content: center;
  }

  @include desktop-xxl {
    margin: auto;
    max-width: 1400px;
    box-sizing: border-box;
  }

  img {
    filter: invert(100%);
    width: 30%;

    @include landscape {
      width: 20%;
    }

    @include desktop-large {
      width: 15%;
      margin-right: 30px;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    @include desktop-large {
      display: flex;
    }

    li {
      line-height: map-get($line-height, small);
      cursor: pointer;

      @include desktop-large {
        margin-right: 30px;
      }

      a {
        text-decoration: none;
        color: currentColor;
      }
    }

    .fa-utensils {
      margin-right: 12px;
    }

    .fa-hands-helping {
      margin-right: 11px;
      font-size: 0.7em;
    }
  }
}

/*Page Menu*/

h1 {
  font-size: $font-primary;
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  .fa-arrow-left {
    position: absolute;
    left: 25px;
    top: 30px;
    color: $color-fourth;

    @include tablets {
      top: 35px;
    }

    @include desktop-large {
      top: 40px;
      left: 40px;
    }

    @include desktop-xl {
      top: 50px;
      left: 50px;
    }

    @include desktop-xxl {
      top: 50px;
      left: 120px;
    }
  }
}

/*main*/
.section-menu {
  display: flex;
  flex-direction: column;

  &__image {
    height: 300px;
    width: 100%;
    z-index: -1;

    @include landscape {
      height: 400px;
    }

    @include tablets {
      height: 500px;
    }

    @include desktop-large {
      height: 600px;
    }

    @include desktop-xl {
      height: 700px;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  article {
    border-radius: 35px 35px 0 0;
    background-color: lighten($color-fourth, 70);
    width: 100%;
    z-index: 1;
    margin-top: -60px;

    @include landscape {
      margin-top: -80px;
    }

    @include tablets {
      margin-top: -100px;
    }

    @include desktop-large {
      margin-top: -120px;
    }

    @include desktop-xl {
      margin-top: -140px;
    }

    h3 {
      font-size: $font-tertiary;
      font-weight: 400;
      margin: 50px 0 15px 0px;
      border-bottom: 3px solid $color-tertiary;
      width: 46px;
      padding-bottom: 7px;

      @include desktop-xl {
        margin-left: 50px;
      }

      @include desktop-xxl {
        margin-left: 60px;
      }
    }
  }
}

.heading {
  display: flex;
  justify-content: space-around;
  align-items: baseline;

  @include landscape {
    justify-content: space-between;
    padding: 0 40px;
  }

  @include tablets {
    padding: 0 60px;
  }

  .fa-heart {
    font-size: $font-secondary;
    font-weight: 100;
  }
}

.dish {
  width: 100%;

  @include tablets {
    width: 350px;
  }

  @include desktop-xl {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  margin: auto;

  @include tablets {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
  }

  @include desktop-xl {
    flex-direction: column;
  }
}

.option {
  animation: menu $anim-dur backwards ease-in-out;
  @for $i from 1 through 3 {
    &--#{$i} {
      animation-delay: $menu-delay * $i;
    }
  }
  cursor: pointer;
  border-radius: map-get($bd-radius, small);
  width: 100%;
  height: 83px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0;
  overflow: hidden;
  @include box-shw;

  @include desktop-xl {
    width: 350px;
  }

  h5 {
    padding-bottom: 5px;
  }

  &__heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    &__text {
      padding-left: 10px;
      width: 80%;

      h5,
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &__price {
      width: 20%;
      font-size: $font-tertiary;
      font-weight: bold;
      text-align: center;

      p {
        font-weight: bold;
      }
    }
  }

  &:hover > .option__check {
    width: 20%;

    > .fa-check-circle {
      animation: check-box 500ms linear;
    }
  }

  &__check {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-primary;
    background-color: $color-tertiary;
    border-radius: 0 20px 20px 0;
    height: 83px;
    overflow: hidden;
    width: 0;
    right: 0;
    transform-origin: right center;
    transition: width 600ms linear;
    box-shadow: 4px 3px 10px lighten($color-fourth, 50);

    .fa-check-circle {
      filter: invert(100%);
    }
  }
}

.btn-deliver {
  display: flex;
  justify-content: center;

  button {
    @include btn;
    @include box-shw;
    width: 200px;
    margin-bottom: 60px;
    transition: all 500ms ease-in-out;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
      @include box-shw(darken($color-fourth, 50));
    }
  }
}
