/*Variables*/
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-fourth: #404040;

$font-primary: 2.2em;
$font-secondary: 1.8em;
$font-tertiary: 2em;
$font-fourth: 1.1em;
$font-fifth: 1.2em;

$padding-ten: 10px;

/*Mixin*/
@mixin font-p {
  font-size: 1.2em;
  font-weight: 100;
  margin: 0;
}

@mixin button-gradient {
  background: linear-gradient(175deg, #ff79da, #9356dc);
}

/*Mobile first*/

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: $font-secondary;
}

h4 {
  font-size: $font-fourth;
}

h5 {
  font-size: $font-fifth;
  margin: 0;
}

p {
  @include font-p;
}

/*Header*/

.header__heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Section Location*/

.location {
  text-align: center;
  padding-bottom: $padding-ten + 40px;
  background-color: lighten($color-fourth, 70);

  form {
    background-color: lighten($color-fourth, 67);
    padding: $padding-ten + 5px 0;
    box-shadow: inset 0 8px 6px -6px lighten($color-fourth, 50);

    label {
      padding-right: $padding-ten;
      color: $color-fourth;
    }

    > input {
      border-style: none;
      background: none;
      font-weight: bold;
      font-size: $font-fourth;
      color: $color-fourth;
    }
  }

  &__booking {
    width: 100%;
    margin: auto;

    &__heading {
      padding: 0 $padding-ten + 5px;
    }

    button {
      border-radius: 35px;
      border-style: none;
      font-size: $font-fourth;
      font-weight: bold;
      color: lighten($color-fourth, 100);
      padding: $padding-ten + 10px;
      margin-top: 30px;
      @include button-gradient;
    }
  }
}

/*Section How to*/

.how-to {
  .how-to__heading {
    padding-left: $padding-ten + 10px;
  }

  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .how-to__button {
    border-radius: 25px;
    width: 300px;
    height: 80px;
    box-shadow: 0 3px 10px lighten($color-fourth, 60);
    margin-bottom: 25px;
    text-align: center;
    font-size: $font-fourth;
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: $padding-ten + 25px;

    .fa-mobile-alt {
      color: lighten($color-fourth, 20);
      padding-right: $padding-ten + 10px;
    }

    .fa-list-ul {
      color: lighten($color-fourth, 20);
      padding-right: $padding-ten + 10px;
    }

    .fa-store {
      color: lighten($color-fourth, 20);
      padding-right: $padding-ten + 10px;
    }

    &__choice {
      position: absolute;
      border-radius: 50px;
      height: 25px;
      width: 25px;
      background-color: $color-primary;
      text-align: center;
      left: -12px;
      color: lighten($color-fourth, 100);
      font-weight: normal;
      line-height: 25px;
    }
  }
}

/* Section Restaurants*/

.restaurants {
  background-color: lighten($color-fourth, 70);
  padding-bottom: $padding-ten + 30px;

  &__heading {
    padding-left: $padding-ten + 10px;
    padding-top: $padding-ten + 30px;
  }

  &__prev {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      text-decoration: none;
      color: currentColor;
    }

    &__image {
      display: flex;
      flex-direction: column;
      background-color: lighten($color-fourth, 100);
      width: 330px;
      height: 290px;
      border-radius: 20px;
      box-shadow: 0 10px 10px lighten($color-fourth, 60);
      position: relative;
      margin-bottom: 20px;

      > figure {
        height: 200px;
        width: 100%;
        margin: 0;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 10px 10px 0 0;
        }
      }

      &__byline {
        display: flex;
        justify-content: space-between;
        padding: $padding-ten + 10px;

        h5 {
          padding-bottom: 5px;
        }

        .fa-heart {
          font-size: $font-secondary;
          font-weight: 100;
        }

        span {
          position: absolute;
          left: 225px;
          top: 15px;
          background-color: $color-tertiary;
          width: 90px;
          height: 35px;
          text-align: center;
          line-height: 33px;
          border-radius: 2px;
          color: darken($color-tertiary, 40);
          font-weight: bold;
        }
      }
    }
  }
}

footer {
  background-color: $color-fourth;
  color: lighten($color-fourth, 100);

  ul {
    list-style: none;
  }
}
