/*Variables*/
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-fourth: #404040;

$font-primary: 2.1em;
$font-secondary: 1.8em;
$font-tertiary: 1.2em;
$font-fourth: 1.1em;

$padding-small: 10px;
$padding-medium: 30px;

/*Maps*/
$line-height: (
  small: 25px,
  medium: 33px,
);

$bd-radius: (
  small: 20px,
  medium: 25px,
  large: 35px,
  xlarge: 50px,
);

/*Mixins*/
@mixin font-p {
  font-size: 1.2em;
  font-weight: 100;
  margin: 0;
}

@mixin icon {
  color: lighten($color-fourth, 20);
  padding-right: $padding-small + 10px;
}

@mixin btn {
  border-radius: map-get($bd-radius, large);
  border-style: none;
  font-size: $font-fourth;
  font-weight: bold;
  color: lighten($color-fourth, 100);
  padding: $padding-small + 10px;
  margin-top: 30px;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  opacity: 1;
}

@mixin box-shw($color: $color-fourth) {
  box-shadow: 0 3px 10px lighten($color, 50);
}

/*Mobile first*/

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: $font-secondary;
}

h4 {
  font-size: $font-fourth;
  margin: 0;
}

h5 {
  font-size: $font-tertiary;
  margin: 0;
}

p {
  @include font-p;
}

/*Header*/

header {
  text-align: center;

  img {
    margin: 20px 0;
  }
}

/*Section Location*/

.location {
  text-align: center;
  padding-bottom: $padding-medium + 20px;
  background-color: lighten($color-fourth, 70);

  form {
    background-color: lighten($color-fourth, 67);
    padding: $padding-small + 5px 0 $padding-small + 5px $padding-medium + 40px;
    box-shadow: inset 0 8px 6px -6px lighten($color-fourth, 50);

    label {
      padding-right: $padding-small;
      color: $color-fourth;
    }

    > input {
      border-style: none;
      background: none;
      font-weight: bold;
      font-size: $font-fourth;
      color: $color-fourth;
    }
  }

  &__booking {
    width: 100%;
    margin: auto;

    h2 {
      padding: 0 $padding-small + 5px;
    }

    button {
      @include btn;
      @include box-shw;

      &:hover {
        opacity: 0.9;
        @include box-shw(darken($color-fourth, 50));
        transition: all 250ms;
      }
    }
  }
}

/*Section How to*/

.how-to {
  h2 {
    padding-left: $padding-small + 10px;
  }

  ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .how-to__button {
    border-radius: map-get($bd-radius, medium);
    width: 300px;
    height: 80px;
    margin-bottom: 25px;
    text-align: center;
    font-size: $font-fourth;
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: $padding-medium + 5px;
    @include box-shw;

    .fa-mobile-alt,
    .fa-list-ul,
    .fa-store {
      @include icon;
    }

    &__choice {
      position: absolute;
      border-radius: map-get($bd-radius, xlarge);
      height: 25px;
      width: 25px;
      background-color: $color-primary;
      text-align: center;
      left: -12px;
      color: lighten($color-fourth, 100);
      font-weight: normal;
      line-height: map-get($line-height, small);
    }
  }
}

/* Section Restaurants*/

.restaurants {
  background-color: lighten($color-fourth, 70);
  padding-bottom: $padding-small + $padding-medium;

  h2 {
    padding: $padding-small + $padding-medium 0 0 $padding-small + 10px;
  }

  &__prev {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      text-decoration: none;
      color: currentColor;
    }

    &__image {
      display: flex;
      flex-direction: column;
      background-color: lighten($color-fourth, 100);
      width: 330px;
      height: 290px;
      border-radius: map-get($bd-radius, small);
      position: relative;
      margin-bottom: 20px;
      @include box-shw;

      > figure {
        height: 200px;
        width: 100%;
        margin: 0;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 20px 20px 0 0;
        }
      }

      &__byline {
        display: flex;
        justify-content: space-between;
        padding: $padding-small + 10px;

        h5 {
          padding-bottom: 5px;
        }

        .fa-heart {
          font-size: $font-secondary;
          font-weight: 100;
        }

        span {
          position: absolute;
          left: 225px;
          top: 15px;
          background-color: $color-tertiary;
          width: 90px;
          height: 35px;
          text-align: center;
          line-height: map-get($line-height, medium);
          border-radius: 2px;
          color: darken($color-tertiary, 40);
          font-weight: bold;
        }
      }
    }
  }
}

footer {
  background-color: $color-fourth;
  color: lighten($color-fourth, 100);
  padding: $padding-medium 0 $padding-medium $padding-medium;

  img {
    filter: invert(100%);
    width: 30%;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      line-height: map-get($line-height, small);

      a {
        text-decoration: none;
        color: currentColor;
      }
    }

    .fa-utensils {
      margin-right: 12px;
    }

    .fa-hands-helping {
      margin-right: 11px;
      font-size: 0.7em;
    }
  }
}

/*A la francaise*/

h1 {
  font-size: $font-primary;
  font-family: "Shrikhand", sans-serif;
}

.head__heading {
  display: flex;
  justify-content: center;
  align-items: center;

  .fa-arrow-left {
    position: absolute;
    left: 25px;
    color: $color-fourth;
  }
}

/*main*/
.section-menu {
  position: relative;

  img {
    height: 300px;
    width: 100%;
  }

  article {
    border-radius: map-get($bd-radius, large);
    background-color: lighten($color-fourth, 70);
    width: 100%;
    position: absolute;
    top: 240px;

    .heading {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .fa-heart {
        font-size: $font-secondary;
        font-weight: 100;
      }
    }

    h3 {
      font-size: $font-tertiary;
      font-weight: 400;
      margin: 0 0 30px 20px;
    }

    .menu {
      border-radius: map-get($bd-radius, small);
      width: 315px;
      height: 67px;
      margin-left: 13px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 0 $padding-small + 10px $padding-small + 5px $padding-small + 3px;
      @include box-shw;

      h5 {
        padding-bottom: 5px;
      }

      &__price {
        font-size: $font-tertiary;
        font-weight: bold;
      }
    }

    button {
      @include btn;
      @include box-shw;

      &:hover {
        opacity: 0.9;
        @include box-shw(darken($color-fourth, 50));
        transition: all 250ms;
      }
    }
  }
}
