/*Variables*/
/*Maps*/
/*Mixins*/
@keyframes bars {
  0% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes load-trans {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes menu {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
/*Mobile first*/
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.1em;
  margin: 0;
}

h5 {
  font-size: 1.2em;
  margin: 0;
}

p {
  font-size: 1em;
  font-weight: 100;
  margin: 0;
}

/*Load*/
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  animation: load-trans 200ms both 3000ms ease-in-out;
}
.loading__load {
  display: flex;
  justify-content: space-evenly;
  height: 150px;
  width: 200px;
}
.loading__load__bar {
  background-color: #99e2d0;
  height: 100%;
  width: 20px;
  animation: bars 1000ms backwards infinite ease-in-out alternate;
}
.loading__load__bar--1 {
  animation-delay: 200ms;
}
.loading__load__bar--2 {
  animation-delay: 400ms;
}
.loading__load__bar--3 {
  animation-delay: 600ms;
}
.loading__load__bar--4 {
  animation-delay: 800ms;
}
.loading__load__bar--5 {
  animation-delay: 1000ms;
}

/*Header*/
header {
  text-align: center;
}
header img {
  margin: 20px 0;
}

/*Section Location*/
.location {
  text-align: center;
  padding-bottom: 50px;
  background-color: #f3f3f3;
}
.location form {
  background-color: #ebebeb;
  padding: 15px 0 15px 70px;
  box-shadow: inset 0 8px 6px -6px silver;
}
.location form label {
  padding-right: 10px;
  color: #404040;
}
.location form > input {
  border-style: none;
  background: none;
  font-weight: bold;
  font-size: 1.1em;
  color: #404040;
}
.location__booking {
  width: 100%;
  margin: auto;
}
.location__booking h2 {
  padding: 0 15px;
}
.location__booking h5 {
  font-weight: 100;
}
.location__booking button {
  border-radius: 35px;
  border-style: none;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  padding: 20px;
  margin-top: 30px;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  opacity: 1;
  box-shadow: 0 3px 10px silver;
}
.location__booking button:hover {
  opacity: 0.9;
  box-shadow: 0 3px 10px gray;
  transition: all 250ms;
}

/*Section How to*/
.how-to h2 {
  padding-left: 20px;
}
.how-to ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how-to .how-to__button {
  border-radius: 25px;
  width: 300px;
  height: 80px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 35px;
  box-shadow: 0 3px 10px silver;
}
.how-to .how-to__button .fa-mobile-alt,
.how-to .how-to__button .fa-list-ul,
.how-to .how-to__button .fa-store {
  color: #737373;
  padding-right: 20px;
}
.how-to .how-to__button__choice {
  position: absolute;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  text-align: center;
  left: -12px;
  color: white;
  font-weight: normal;
  line-height: 25px;
}

/* Section Restaurants*/
.restaurants {
  background-color: #f3f3f3;
  padding-bottom: 40px;
}
.restaurants h2 {
  padding: 40px 0 0 20px;
}
.restaurants__prev {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants__prev a {
  text-decoration: none;
  color: currentColor;
}
.restaurants__prev__image {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 330px;
  height: 290px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px silver;
}
.restaurants__prev__image > figure {
  height: 200px;
  width: 100%;
  margin: 0;
}
.restaurants__prev__image > figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.restaurants__prev__image__byline {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.restaurants__prev__image__byline h5 {
  padding-bottom: 5px;
}
.restaurants__prev__image__byline .fa-heart {
  font-size: 1.8em;
  font-weight: 100;
}
.restaurants__prev__image__byline span {
  position: absolute;
  left: 225px;
  top: 15px;
  background-color: #99e2d0;
  width: 90px;
  height: 35px;
  text-align: center;
  line-height: 33px;
  border-radius: 2px;
  color: #278870;
  font-weight: bold;
}

footer {
  background-color: #404040;
  color: white;
  padding: 30px 0 30px 30px;
}
footer img {
  filter: invert(100%);
  width: 30%;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  line-height: 25px;
}
footer ul li a {
  text-decoration: none;
  color: currentColor;
}
footer ul .fa-utensils {
  margin-right: 12px;
}
footer ul .fa-hands-helping {
  margin-right: 11px;
  font-size: 0.7em;
}

/*A la francaise*/
h1 {
  font-size: 2.1em;
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 0;
}

.head__heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head__heading .fa-arrow-left {
  position: absolute;
  left: 25px;
  color: #404040;
}

/*main*/
.section-menu {
  position: relative;
}
.section-menu img {
  height: 300px;
  width: 100%;
}
.section-menu article {
  border-radius: 35px 35px 0 0;
  background-color: #f3f3f3;
  width: 100%;
  position: absolute;
  top: 240px;
}
.section-menu article .heading {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.section-menu article .heading .fa-heart {
  font-size: 1.8em;
  font-weight: 100;
}
.section-menu article h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 50px 0 15px 20px;
  border-bottom: 3px solid #99e2d0;
  width: 46px;
  padding-bottom: 7px;
}
.section-menu article .menu__text {
  animation: menu 1000ms;
  border-radius: 20px;
  width: 315px;
  height: 67px;
  margin-left: 14px;
  margin-bottom: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 20px 15px 13px;
  box-shadow: 0 3px 10px silver;
}
.section-menu article .menu__text--1 {
  animation-delay: 333.3333333333ms;
}
.section-menu article .menu__text--2 {
  animation-delay: 666.6666666667ms;
}
.section-menu article .menu__text--3 {
  animation-delay: 1000ms;
}
.section-menu article .menu__text h5 {
  padding-bottom: 5px;
}
.section-menu article .menu__text__price {
  font-size: 1.2em;
  font-weight: bold;
}
.section-menu article .menu__text span {
  display: none;
}
.section-menu article button {
  border-radius: 35px;
  border-style: none;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  padding: 20px;
  margin-top: 30px;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  opacity: 1;
  box-shadow: 0 3px 10px silver;
  margin-left: 86px;
  width: 200px;
}
.section-menu article button:hover {
  opacity: 0.9;
  box-shadow: 0 3px 10px gray;
  transition: all 250ms;
}

/*# sourceMappingURL=style.css.map */
